---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

const appStoreImg = '~/assets/images/app-store.png';
const appStoreDownloadLink = 'https://github.com/onwidget/astrowind';

const googlePlayImg = '~/assets/images/google-play.png';
const googlePlayDownloadLink = 'https://github.com/onwidget/astrowind';

const metadata = {
  title: '移动应用首页',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      position="left"
      links={[
        { text: '服务', href: '#' },
        { text: '特性', href: '#' },
        { text: '关于', href: '#' },
      ]}
      actions={[
        {
          text: '下载',
          href: '#download',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="移动应用演示"
    image={{
      src: 'https://images.unsplash.com/photo-1535303311164-664fc9ec6532?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">AstroWind 应用</span>: <br /> 专业网站 <span
        class="hidden xl:inline">轻松创建</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        释放指尖无限创意：通往创新设计的门户。
      </span>
      立即下载，开启前所未有的项目提升之旅。
    </Fragment>

    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div>
  </Hero2>

  <!-- Features3 Widget ************** -->

  <Features3
    id="features"
    title="如何使用我们的应用？"
    subtitle="厌倦了花费数小时从头开始制作文档？我们的应用提供了创新的解决方案。通过各种专业设计的模板，您现在可以在几分钟内创建令人惊叹的文档。立即探索我们的模板，体验不同之处。"
    tagline="分步指南"
    columns={2}
    items={[
      {
        title: '下载并安装应用',
        description: `从您设备的应用商店或我们的官方网站下载我们用户友好的应用，开始您的旅程。`,
        icon: 'tabler:square-number-1',
      },
      {
        title: '注册',
        description:
          '通过提供必要的信息创建您的账户，使您能够访问我们的全部功能。',
        icon: 'tabler:square-number-2',
      },
      {
        title: '浏览模板',
        description: '探索我们多样化的网站模板集合，按类别分类，便于导航。',
        icon: 'tabler:square-number-3',
      },
      {
        title: '预览并选择模板',
        description: `通过预览可视化每个模板的潜力，然后选择最符合您项目需求的模板。`,
        icon: 'tabler:square-number-4',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1521517407911-565264e7d82d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: '用户友好界面',
        description:
          '直观且易于导航的界面，允许用户快速浏览和找到他们需要的模板。',
        icon: 'tabler:wand',
      },
      {
        title: '个性化选项',
        description:
          '包含基本的定制工具，让用户可以修改模板中的文本、颜色、图像和其他元素。',
        icon: 'tabler:settings',
      },
      {
        title: '即用型组件',
        description:
          '通过图形、图标和布局等即用型元素增强您的设计，节省您的时间并提升视觉吸引力。',
        icon: 'tabler:template',
      },
      {
        title: '预览模式',
        description: '提供每个模板的预览，允许用户在购买前查看其外观。',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1576153192621-7a3be10b356e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">主要特性</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: '离线访问',
        description: '为用户提供下载购买的模板以供离线使用的选项。',
        icon: 'tabler:wifi-off',
      },
      {
        title: '安全云存储',
        description:
          '为购买的模板提供云存储，确保用户可以从任何地方安全地访问和备份他们的模板。',
        icon: 'tabler:file-download',
      },
      {
        title: '定期更新',
        description: '不断添加新模板和功能，保持应用的新鲜感和对用户的吸引力。',
        icon: 'tabler:refresh',
      },
      {
        title: '愿望清单',
        description: `允许用户创建他们感兴趣的模板的愿望清单，使他们更容易重新访问并可能在以后购买。`,
        icon: 'tabler:heart',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1453738773917-9c3eff1db985?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Vintage Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">其他特性</h3>
    </Fragment>
  </Content>

  <!-- Stats Widget ****************** -->

  <Stats
    title="我们应用的统计数据"
    stats={[
      { amount: '20K', icon: 'tabler:download' },
      { amount: '18.5K', icon: 'tabler:users' },
      { amount: '4.7', icon: 'tabler:user-star' },
    ]}
  />

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="我们的用户怎么说？"
    testimonials={[
      {
        testimonial: `它让浏览和下载网站模板变得轻而易举。界面直观，我毫不费力地找到了适合我项目的完美模板。这是一个真正赋予用户权力的应用。`,
        name: 'Cary Kennedy',
        job: '电影导演',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Cary Kennedy Image',
        },
      },
      {
        testimonial: `应用的无缝下载过程和直观布局使选择模板成为一种愉快的体验。能够在提交前预览和尝试不同的设计，为我节省了时间，并确保我的网站获得完美的外观。`,
        name: 'Josh Wilkinson',
        job: '产品经理',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial:
          '我能够在几分钟内下载并使用专业的网站模板。分步流程和用户友好的界面使我能够轻松创建一个看起来像是专业设计的网站。',
        name: 'Sidney Hansen',
        job: '装饰师',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: '阅读更多评价',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="还有一些疑问？"
    items={[
      {
        title: '这个应用是做什么的？',
        description:
          '这个应用为您提供了一个平台，让您可以轻松浏览、购买、下载和使用各种网站模板用于您的项目。',
      },
      {
        title: '这个应用如何解决我的问题？',
        description:
          '这个应用简化了寻找和实施专业网站设计的过程，为您节省了创建视觉吸引力和功能性网站的时间和精力。',
      },
      {
        title: '它适用于我的设备吗？',
        description: `我们的应用设计为兼容各种设备和平台，确保无论您使用智能手机、平板电脑还是计算机都能访问。`,
      },
      {
        title: '什么使这个应用与其他应用不同？',
        description:
          '我们的应用因其用户友好的界面、丰富的模板集合以及购买和下载过程的无缝集成而脱颖而出，使其效率极高。',
      },
      {
        title: '是否有任何费用？',
        description:
          '虽然应用本身可能免费下载，但根据您的偏好和项目要求，购买特定模板可能会产生相关费用。',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="download"
    title="立即下载我们的应用！"
    subtitle="访问各种令人惊叹的模板，简化您的创作过程，提升您的在线形象。"
  >
    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div>
  </CallToAction>
</Layout>
